# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# All rights reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.

[Unit]
Description= Load tz_log service

[Service]
Restart=on-failure
RemainAfterExit=yes
# This service file has no binary and it is to execute the list of commands in <script>.
# Use Script file only when there is NO binary or commands to be executed/ modules to be installed cases.

ExecStart=modprobe tz_log
ExecStop=modprobe -r tz_log

[Install]
WantedBy=multi-user.target
