# Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

########################################
## <summary>
##      Allow ostree  permissions for link,setattr,write on all type of files
##      resources 
## </summary>
#
########################################
## <summary>
##      Allow role transition for ostree
## </summary>
## <param name="domain">
##      <summary>
##          Domain Allowed transition
##      </summary>
## </param>
#
interface(`domtrans_ostree',`
        gen_require(`
                type ostree_exec_t, ostree_t;
        ')
        role_transition $2 ostree_exec_t:process system_r;
        domtrans_pattern($1, ostree_exec_t, ostree_t)
        neverallow { domain -$1 } ostree_exec_t:process transition;
')
