# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: MIT
#

[Unit]
Description=start cnss diag daemon
SourcePath=/usr/sbin/cnss_diag

[Service]
Restart=no
RemainAfterExit=yes
ExecStart=/usr/sbin/cnss_diag -f
User=wifi
Group=wifi
SupplementaryGroups=net_admin
AmbientCapabilities=CAP_NET_ADMIN

[Install]
WantedBy=multi-user.target
