# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: MIT
#

[Unit]
Description=start cnss daemon
SourcePath=/usr/sbin/cnss_daemon

[Service]
Restart=no
RemainAfterExit=yes
ExecStart=/usr/sbin/cnss_daemon -n -dd
User=wifi
Group=wifi
SupplementaryGroups=kmsg inet

[Install]
WantedBy=multi-user.target
